/*.App {
  text-align: center;
}*/

/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: grey;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/



.landing{
  /*display: flex;
  flex-direction: row;
  justify-content: center;*/
  height: 100vh;
  width: 100vw;
  background-image: url("./images/mountain.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-color: rgba(0,0,0,0.5);
  padding: 0;
  margin: -25;
  color: #115836;
  font-size: 100em;
}

html{
  font-family: 'Overlock SC', cursive;
}
h1, h2, h3, h4, h5, {
  font-family: 'Overlock SC', cursive;
}
/*.App {
  margin: 0;
  padding: 0;
  font-family: 'Cabin Sketch', cursive;
}*/

#landing-title{
  justify-content: center;
  font-size: 4rem;
  font-family: 'Overlock SC', cursive;
  color: #115836
}


.ui.raised {
  background:#7f7f7f;
  background:rgba(255,255,255,0.5);
}

#form{
  padding-left: 50px;
  font-family: 'Overlock SC', cursive;
  color: #115836
  /*background-image: url("./images/COplate-2.jpg");
  background-repeat: round;
  background-size: cover;*/
}

#list{
  padding-left: 25px;
  padding-right: 25px;
  font-family: 'Overlock SC', cursive;
  color: #115836
}

/*#logo{
  float:right;
  margin-left: 30px;
}*/
